<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Responsive Login and Signup Form </title>

  <link rel="stylesheet" href="../static/contactcss.css">

  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>

</head>

<body>
    <div class="navbar">
        <ul>
            <li>
                <h3>AI &nbspENABLED &nbspCAR &nbspPARKING</h3>
            </li>
            <div class="navi">
                <li><a class="active" href="/index.html">Home</a></li>
                <li><a href="/aboutus.html">About us</a></li>
                <li><a href="/login.html">Login</a></li>
                <li><a href="/signup.html">Register</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </div>
        </ul>
    </div>
  <br><br><br>
  <header>CONTACT US</header>
  <br><br>
  
  <h2>
    Email id</h2><br>
  <body2>
    <div class="center-box">
      <p><i>Bipin.shah2021@vitstudent.ac.in</i></p>
    </div>
  </body2>
  <body2>
    <div class="center-box">
      <p><i>Pratham.gupta2021b@vitstudent.ac.in</i></p>
    </div>
  </body2>
  <body2>
    <div class="center-box">
      <p><i>Karnavatkush.kaileshbhai2021@vitstudent.ac.in</i></p>
    </div>
  </body2>
  <body2>
    <div class="center-box">
      <p><i>Vadodarianilansh.chintan2021@vitstudent.ac.in</i></p>
    </div>
  </body2>
</body>

</html>